.movie {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  min-height: 230px;
  animation: opacity 0.5s both;

  &:hover {
    box-shadow: 0px 0px 24px 0px var(--strong-blue);
  }

  .shadow {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  h2 {
    margin: 15px 10px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  svg {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.6;
    color: #ffc800;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes opacity { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}